html {
  scroll-snap-type: y mandatory;
  overflow-y: hidden;
  background-color: black;
}

.app {
  height: 100vh;
  background-color: black;
  /**/
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  place-items: center;

}

.app__videos {
  position: relative;
  height: 500px;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

/* hide scroll bar for chrom safari and opera */

.app__videos::-webkit-scrollbar {
  display: none;
}

.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}